/* You can add global styles to this file, and also import other style files */

// Colors
:root {
  --text: #333;
  --text-light: #f4f4f4;
  --text-secondary: #666;
  --primary: #a91ff3;
  --secondary: #353535;
  --light: #f4f4f4;
  --page: #fff;
  --background-primary: #f4f4f4;
  --background-secondary: #9421ff;
}

// Fonts
@font-face {
  font-family: "Open Sans", sans-serif;
  src: url("/assets/fonts/OpenSans.ttf");
}

@font-face {
  font-family: "Fredoka";
  src: url("/assets/fonts/Fredoka.ttf");
}

p {
  font-family: "Open Sans", sans-serif;
  color: var(--text);
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-family: "Fredoka", sans-serif;
  font-weight: 700;
  color: var(--text);
}

h1 {
  font-size: 3rem;
  line-height: 1.2;
}

h2 {
  font-size: 2.4rem;
  line-height: 1.3;
  font-weight: 500;
}

h3 {
  font-size: 1.8rem;
  line-height: 1.4;
}

body {
  min-height: 100%;
  width: 100%;
  max-width: 100%;

  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  color: var(--text);

  overflow: auto;
  overflow-x: hidden;
  * {
    box-sizing: border-box;
  }
}

a {
  text-decoration: none;
}
