.recipe-view {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  justify-content: center;
  overflow-y: auto;

  .recipe {
    width: 80%;
    min-width: 600px;
    max-width: 1000px;
    background: var(--page);

    // shadow
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    border-radius: 10px;

    &__content {
      margin: 20px 10px 10px;

      .title,
      .source {
        text-align: center;
      }

      .source {
        p {
          font-size: 0.9rem;
          color: var(--text-secondary);
        }
      }

      .description {
        margin: 10px 0;
        text-align: center;
        color: var(--text-secondary);
      }
    }
  }
}
