<div class="recipe-view-container">
  <a [routerLink]="'/'">Back</a>

  <div class="recipe-view">
    <div class="recipe">
      <div class="recipe__image"></div>
      <div class="recipe__content">
        <h3 class="title">{{ recipe()?.name }}</h3>

        <div class="source" *ngIf="recipeSource().text">
          <a
            *ngIf="recipeSource().url"
            [href]="recipeSource().url"
            target="_blank"
            >{{ recipeSource().text }}</a
          >
          <p *ngIf="!recipeSource().url">
            {{ recipeSource().text }}
          </p>
        </div>

        <!-- <p class="source">{{ recipe()?.source }}</p> -->

        <p class="description">{{ recipe()?.description }}</p>

        <hr />

        <div class="recipe__content__ingredients">
          <h4>Ingredients</h4>
          <ul>
            <li *ngFor="let ingredient of recipe()?.ingredients">
              {{ ingredient }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
