.container {
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
  padding: 16px;
  overflow: hidden;

  background: linear-gradient(
      to bottom,
      var(--background-primary),
      var(--background-secondary)
    )
    no-repeat;
}
